<div class="">
    <!-- <div class="chats-container"> -->
    <div class="chats-container container">
        <group-chats-container class="row">
        </group-chats-container>
        <group-chats-container class="row">
        </group-chats-container>
        <!-- <direct-chats-container>
        </direct-chats-container> -->
    </div>
    <div class="messages-container container">
        <group-messages-container>
        </group-messages-container>
        <!-- <direct-messages-container>
        </direct-messages-container> -->
    </div>
</div>
