.container {
    padding: 2px;
}

.chats-container {
    width: 22%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aqua;
    overflow-x: hidden;
}

.messages-container {
    margin-left: 22%;
    width: 78%;
    height: 100%;
    overflow: auto;
}