:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-title {
    opacity: 0.4;
}

.chats-container {
    overflow-y: auto;

    .chat {
        .chat-name {

        }

        .chat-preview {
            opacity: 0.6;
        }
    }
}
