.message-list-wrapper {
    height: 90%;
    position: fixed;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: row;

    .sender-avatar {
    }

    .message-info {
        margin-left: 15px;

        .sender-name {
            font-size: 18px;
            font-weight: bold;
            .like-counter {
                position: absolute;
                right: 15px;
            }
        }

        .message-text {
            font-size: 18px;
        }

        .message-created-at {
            font-size: 14px;
        }
    }
}

img {
    object-fit: cover;
}