<div class="message-list-wrapper" #scrollView>
    <div class="list-group">
        <div *ngFor="let message of messageList" class="message list-group-item">
            <div class="sender-avatar">
                <!-- <img src="{{message.avatar_url || 'https://i.groupme.com/549x549.jpeg.a00e1fbd97f24e0cba4a3dd53e789c33'}}" class="img-circle" alt="Sender Avatar" width="75px" height="75px"/> -->
            </div>
            <div class="message-info">
                <div class="sender-name">
                    <!-- {{message.name}} -->
                    <span class="badge badge-primary like-counter">
                        <!-- {{message.favorited_by.length}} -->
                    </span>
                </div>
                <div class="message-text">
                    <!-- {{message.text}} -->
                </div>
                <div class="message-created-at">
                    <!-- {{message.created_at}} -->
                </div>
            </div>
        </div>
    </div>
</div>