@import '../../../../../less/variables.less';

.message-input {
    padding: @margin-medium;
    border-top: @border-thin @border-blue solid;

    .send {
        color: #111520;
        background: linear-gradient(90deg, #F3C716 0%, #F0AC37 100%);

        &:hover, &:focus {
            color: #111520;
        }
    }

    .input {
        color: #ffffff;
        background-color: transparent;
        border: @border-none;
    }
}