.message {
    display: flex;
    padding: 15px 20px 15px 20px;
    background-color: #171C2A;
    justify-content: space-between;

    &.sent {
        background-color: transparent;
    }


    img {
        object-fit: cover;
    }

    .message-info {
        margin-left: 15px;
        flex-grow: 1;

        .sender-name {
            font-size: .9em;
            font-weight: 600;
        }

        .message-text {
            font-size: 1em;
            font-weight: normal;
            opacity: 0.8;
        }

        .message-created-at {
            font-size: .9em;
            opacity: 0.4;
        }
    }

    .like-box {
        padding: 10px 5px 0px 15px;
        white-space: nowrap;
 
        &.like-box-hidden {
            visibility: hidden;
        }

        .like-icon {

            &:hover {
                cursor: pointer;
            }
        }

        .like-counter {
            font-size: 1em;
            font-weight: 600;
            position: relative;
            top: 20px;

            &.like-counter-hidden {
                visibility: hidden;
            }

        }
    }
}